/* Import Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Custom Styles */
.sidebar {
    min-height: calc(100vh - 56px);
    background-color: #343a40;
}

.sidebar .nav-link {
    color: #c2c7d0;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: #495057;
}

.sidebar .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

.main-content {
    min-height: calc(100vh - 56px);
}